
:root{
    --color-primary:  deepskyblue;
    --color-test: rgb(90, 90, 90);
}

.btn-primary{
    background-color: var(--color-primary);
    background-color: var(--color-primary);
}

.btn-info1{
    background-color: var(--color-test);
}

div.figure{
    float:right;
    width: 30%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

div.figure p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
  }
  img.scaled {
    width: 100%;
  }